header {
	border: solid 2px red;
	height: 100%;
	margin: 0;

}

nav {
	border: yellow solid 2px;
}

main {
	border: solid 2px red;
	height: 100%;
	margin: 0;
	text-align: center;
	display: flex;
	flex-direction: column;
}

footer {
	border: solid 2px red;
	height: 100%;
	margin: 0;
	background-color: #1aa3ff;
	color: white;
	text-align: center;
}

h1 {
	color: white;\
}

p {
	color: white;
}

ul {
	list-style: none;
	display: flex;
}

li {
	flex-direction: row;
	justify-content: flex-end;
}

a {
	color: white;
	text-decoration: none;
}

div	{
	border: solid black 2px;
}

#sectionholder {
	padding: 20px;
	align-items: center;
}

.whiteheader {
	color: white;
}

.blueheader {
	color: blue;
}
#mountain {
	background-image: url(///Users/andrewfrazier/Desktop/mountain%232.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
	height:100%;
}

#section1 {
	border: solid 2px blue;
	background-color: #1aa3ff;
	text-align: center;
}

#section2 {
	border: solid 2px orange;
}

#section3 {
	border: solid 2px yellow;
}

.navdecor {
	text-decoration: none;
}

#logo {
	height: 20px;
	width: 900px;
}

#house {
	background-image: url(///Users/andrewfrazier/Desktop/house.jpg);
	background-size: contain;
	background-repeat: no-repeat;
	height: 100%;
	width: 100%;

}

#dog {
	background-image: url(file:///Users/andrewfrazier/Desktop/dog.jpg);
}

#ski {
	background-image: url(///Users/andrewfrazier/Desktop/ski.jpg);
}

#hike {
	background-image: url(///Users/andrewfrazier/Desktop/hike.jpg);
}

#cross {
	background-image: url(///Users/andrewfrazier/Desktop/cross.jpg);
}

#girl {
	background-image: url(///Users/andrewfrazier/Desktop/girl.jpg);
}