body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* HEADER COMPONENT =========================================*/
header {
  height: 100vh;
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  background-image: url("./assets/images/mountain.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom -500px;
  justify-content: space-between;
}

header > h1 {
  color: white;
  align-self: center;
  justify-self: center;
}

nav {
  display: flex;
  color: black;
  justify-content: space-between;
  height: 75px;
  align-items: center;
}
nav > img {
  height: auto;
  width: 100px;
  height: 50px;
}
.rounded-btn {
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  box-sizing: border-box;
  padding: 10px;
}
.rounded-btn > a {
  color: #1aa3ff;
}

.hero-button {
  width: 100px;
  margin: 0 auto;
  margin-bottom: 200px;
  background-color: #1aa3ff;
  border-radius: 20px;
  height: 30px;
  color: white;
}

.hero-title {
  transform: rotate(-15deg);
  text-align: right;
  font-size: 60px;
}

nav > ul > li {
  padding: 0 20px;
}

/* HERO SECTION ====================================*/

main {
  border: solid 2px red;
  height: 100vh;
  margin: 0;
}

footer {
  border: solid 2px red;
  height: 100px;
  margin: 0;
  background-color: #1aa3ff;
  color: white;
  text-align: center;
}

p {
  color: white;
}

ul {
  list-style: none;
  display: flex;
  align-items: center;
}

li {
  flex-direction: row;
  justify-content: flex-end;
}

a {
  color: white;
  text-decoration: none;
}

#sectionholder {
  padding: 20px;
  align-items: center;
}

.whiteheader {
  color: white;
}

.blueheader {
  color: blue;
}

#section1 {
  background-color: #1aa3ff;
  text-align: center;
  width: 100%;
  height: 250px;
  padding: 20px 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  line-height: 1.5;
}

#section2 {
  height: 100vh;
  display: grid;
}

#section3 {
  border: solid 2px yellow;
}

.navdecor {
  text-decoration: none;
}

#logo {
  height: 20px;
  width: 100px;
}

#house {
  background-image: url();
  height: 50px;
  width: 50px;
}

#dog {
  background-image: url("./assets/images/dog.jpg");
}

#ski {
  background-image: url("./assets/images/ski.jpg");
}

#hike {
  background-image: url("./assets/images/hike.jpg");
}

#cross {
  background-image: url("assets/images/cross.jpg");
}

#girl {
  background-image: url("assets/images/girl.jpg");
}
